<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <!--<link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />-->
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jquery-2.1.1.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <!--***********************************************************************************-->
    <link href="~/Content/ig_files/ig_main_page.css" rel="stylesheet" />
    <!--***********************************************************************************-->
</head>
<body> 
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <!--
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                        @Html.ActionLink("111", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                -->
                <div class="navbar-brand">
                    @Html.ViewBag.Identity_Name
                </div>
            </div>
            
            <!--
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("About", "About", "Home")</li>
            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
        </ul>
    </div>
    -->
        </div>
    </div>
    <div class="ig_container">        
        <div class="sidebar" id="id1">
            <div><a href="http://1c.inlinegroup.ru/reports/browse/"><img src="~/Content/ig_files/images/logo1.png" width="120" heigth="120" title="Reporting Server"><br />Reporting Server</a></div>
            <div><a href="@Url.Action("Start_1c_web", "Home", new { id = "1c_real" })"><img src="~/Content/ig_files/images/logo3.png" width="120" heigth="120" title="1С Реализация онлайн (тест)"><br />1С Реализация онлайн (тест)</a></div>
            <div><a href="@Url.Action("Start_1c_web", "Home", new { id = "1c_imp" })"><img src="~/Content/ig_files/images/logo9.png" width="120" heigth="120" title="1С Личный кабинет сотрудника"><br />1С Личный кабинет сотрудника</a></div>
            <div><a href="@Url.Action("Start_1c_web", "Home", new { id = "1c_DO" })"><img src="~/Content/ig_files/images/logo2.png" width="120" heigth="120" title="1С Документооборот"><br />1С Документооборот</a></div>
            @if (@Html.ViewBag.Identity_Name == "INLINEGROUP\\v.yurin")
            {
                <!--
        <div>видно только для v.yurin</div>
        <div><span class="pseudolink" onclick="start_ig_bd_test_web();"><img src="~/Content/ig_files/images/logo3.png" width="120" heigth="120" title="1С Реализация онлайн (тест)"><br />1С Реализация онлайн (тест)</span></div>
        <div><a href="@Url.Action("Start_1c_web", "Home", new { id = "1C_imp" })"><img src="~/Content/ig_files/images/logo9.png" width="120" heigth="120"><br />1С Личный кабинет сотрудника</a></div>
        <div><a href="http://8m-1creport/reports/report/IMP/LogInLK"><img src="~/Content/ig_files/images/logo9.png" width="120" heigth="120" title="1С Личный кабинет сотрудника"><br />1С Личный кабинет сотрудника</a></div>
        -->
            }
        </div>
    </div>

    <div class="ig_frame"></div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - INLINE <samp>(v 0.11)</samp></p>
        </footer>
    </div>

</body>
</html>